<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>QandA Bot</title>
    <script src="https://unpkg.com/htmx.org"></script>
    <link rel="stylesheet" href="{{url_for('static', filename='css/styles.css') }}">
</head>
<body class="body">
    <div class="sidebar">
        <a class="active">Uploaded Documents</a>
        <div class="document-list" id="doc">
            <!-- Documents will be listed here -->
        </div>
        <div class="document-submit">
            <form class="file-form" hx-encoding='multipart/form-data' hx-post='/upload' hx-target="#doc" hx-swap="afterbegin">
                <input type='file' name='file' multiple="multiple">
                <button class="submit-button">
                    Upload
                </button>
            </form>
        </div>
    </div>
    <div class="wrapper">
        <div class="content">
            <h1 class="main-caption">Powered by Llama 3.0</h1>
            <div class="chat" id="result">
                <!-- Submissions will be appended here -->
            </div>
        </div>
        <div id="upload-response"></div>
        <div class="searchbar">
            <form class="query-form" hx-post="/llm" hx-target="#result" hx-swap="afterbegin">
                <textarea class="textarea" name="input" placeholder="Type Something ..."></textarea>
                <!-- <input type="text" name="input" placeholder="Type something..."> -->
                <button class="submit-button" type="submit">Submit</button>
            </form>
        </div>
    </div>
</body>
